@import "fonts";

.my_container {
    background-color: white;
    overflow: hidden;
    background-image: url(../images/bg-loop.jpg);
}
.img {
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    display: block;
}

.text_title {
    width: 1000px;
    max-width: 100%;
    margin: 0px auto;
    text-align: center;
    font-size: 30px;
    font-family: "Plus Jakarta Sans";
    font-weight: bold;
    font-style: normal;
    color: #444444;
    margin-top: -5%;
}
.text_content {
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
    font-size: 18px;
    position: relative;
    font-family: "Plus Jakarta Sans";
    font-weight: normal;
    font-style: normal;
    color: #444444;
}

.group_image {
    position: relative;
    width: fit-content;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    img {
        position: absolute;
        top: 0;
        left: 0;
    }
    & img:first-child {
        position: initial;
    }
}

.author {
    font-size: 18px;
    font-family: "San Francisco Text";
    font-weight: normal;
    font-style: normal;
    text-align: center;
    // width: 700px;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    p {
        text-align: center;
        span {
            font-weight: bold;
        }
        margin-bottom: 0;
    }
    margin-top: 0px;
}
.group-img-row {
    display: flex;
    gap: 30px;
    justify-content: center;
    img {
        margin: 0;
    }
    margin-bottom: 30px;
}
.group-img-row-1 {
    margin-top: -10%;
}
.group_img_2 {
    margin-bottom: 30px;
}
.img-1 {
    margin-top: -11%;
}
@media (min-width: 577px) {
    .mobile {
        // display: none !important;
    }
}

@media (max-width: 576px) {
    .pc {
        // display: none !important;
    }
}
